{% extends "base.html" %}
{% block head %}
    {% load static %}
    <script src="{% static '/mapscript.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}

<a href="{% url 'hismapapp:hisevent-create' %}">add</a>
<div class="row " style="padding-top:30px">
    <div class="col-8 no-gutters" style="padding: 0">
        <div id="map"></div>
    </div>
    <div id="scroll" class="overflow-auto col-4 no-gutters" style="max-height: 870px; max-width: 100%; padding: 0">
        <div class="accordion" id="accordionExample">
        {% for obj in object_list %}
            <div class="accordion-item" id="heading{{ obj.ogc_fid }}">
                <button class="accordion-button collapsed text-white bg-primary" id="accord{{ obj.ogc_fid }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{  obj.ogc_fid }}" aria-expanded="true" aria-controls="collapse{{  obj.ogc_fid }}">
                     {{  obj.name }} {{  obj.date }}
                </button>
            </div>
            <div id="collapse{{ obj.ogc_fid }}" class="accordion-collapse collapse " aria-labelledby="heading{{ obj.ogc_fid }}" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary bg-opacity-75 text-white" id="card{{ obj.ogc_fid }}">
                    {{ obj.description|default:""}}
                    {% if obj.belligerent_1 or obj.belligerent_2 %}
                        <div class="row">
                            <div class="col-12 text-center">
                                Belligerents
                            </div>
                            <div class="col-6 text-start">
                                {{ obj.belligerent_1|default:""}}
                            </div>
                            <div class="col-6 text-end">
                                {{ obj.belligerent_2|default:""}}
                            </div>
                        </div>
                    {% endif %}
                    {% if obj.commander_1 or obj.commander_2 %}
                        <div class="row">
                            <div class="col-12 text-center">
                                Commanders
                            </div>
                            <div class="col-6 text-start">
                                {{ obj.commander_1|default:""}}
                            </div>
                            <div class="col-6 text-end">
                                {{ obj.commander_2|default:""}}
                            </div>
                        </div>
                    {% endif %}
                    {% if obj.strength_1 or obj.strength_2 %}
                        <div class="row">
                            <div class="col-12 text-center">
                                Strength
                            </div>
                            <div class="col-6 text-start">
                                {{ obj.strength_1|default:""}}
                            </div>
                            <div class="col-6 text-end">
                                {{ obj.strength_2|default:""}}
                            </div>
                        </div>
                    {% endif %}
                    {% if obj.result %}
                        Result: {{ obj.result|default:""}}
                    {% endif %}
                </div>
                <button type="button" class="btn btn-light" id="pan-to-{{ obj.ogc_fid }}">Zoom</button>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

